{% extends "base.html" %}
{% load static %
{% block content %}

<div class="container">
  <br>
  <h4>ZanduB Store</h4>
<br>
<div class="row" id="ads">
  <!-- Category Card -->
  {% for store in stores %}
  <div class="col-md-4">
      <div class="card rounded">
          <div class="card-image">
              <span class="card-notify-badge">Low KMS</span>
              <span class="card-notify-year">2018</span>
              <img class="img-fluid" src="{{store.cover_image.url}}" alt="Alternate Text" />
          </div>
          <div class="card-image-overlay m-auto">
              <!--<span class="card-detail-badge">Used</span>-->

              <span class="card-detail-badge">{{store.slogan}}</span>
              <!--<span class="card-detail-badge">13000 Kms</span>-->
          </div>
          <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h5>{{store.title}}</h5>
              </div>
              <a class="ad-btn" href="{% url 'stores:view_store' id=store.id %}">View</a>
            {% if user in store.followers.all %}
              <a class="ad-btn" href="{% url 'stores:follow_store' store_id=store.id %}">Unfollow</a>
            {% else %}
              <a class="ad-btn" href="{% url 'stores:follow_store' store_id=store.id %}">Follow</a>
            {% endif %}
          </div>
      </div>
  </div>
  {% endfor %}


</div>
</div>

{% endblock %}
