{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-8">
    <div class="card rounded">
        <div class="card-image">

            <span class="card-notify-badge">Low KMS</span>
            <span class="card-notify-year">2018</span>
            <img class="img-fluid" src="{{store.cover_image.url}}" alt="Alternate Text" />
        </div>
        <div class="card-image-overlay m-auto">
            <!--<span class="card-detail-badge">Used</span>-->
            <span class="card-detail-badge">{{store.slogan}} </span>
            <!--<span class="card-detail-badge">13000 Kms</span>-->
        </div>
        <div class="card-body text-center">
            <div class="ad-title m-auto">
                <h5>{{store.title}}</h5>
            </div>
            <a class="ad-btn" href="#">Ajouter article</a>
        </div>
    </div>
</div>

  {% if object %}
    <h1><mark>Ameliorez pour plus de visibilite</mark></h1>
  {% else %}
        <h1><mark>Vendre votre article</mark></h1>
  {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
